body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.admin {
  padding: 40px;
  text-align: center;
}

h1 {
  color: gold;
}

/* FORM */
.form {
  margin: 20px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 15px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: orange;
}

/* LIST */
.list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}